body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemons{
  width: 25%;
  float: left;

}
.pokeBox{
  padding:5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button{
  padding: 15px;
  background-color: aqua;
  float: left;
  border-radius: 20%;
}